name: Run Go

on:
  workflow_dispatch:
    inputs:
      url:
        required: true
        type: string
      rps:
        required: true
        type: number
      time:
        required: true
        type: number

jobs:
  ran:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        shard: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Download dependencies
        run: go mod download

      - name: Run Go program
        run: |
          TIME=${{ inputs.time }}
          timeout $TIME go run nah.go \
            -url "${{ inputs.url }}" \
            -rps "${{ inputs.rps }}" \
            -duration "$((TIME+60))" \
            -connections 200 \
            -workers 600
